<form method = "POST">
    {{form.hidden_tag()}}
    <div class="form-group">
        <fieldset id="email">
            {{form.email.label}}
            {{form.email(class="form-control", placeholder = "Email Address")}}
        </fieldset>
        <fieldset id="pass-field">
            {{form.password.label}}
            {{form.password(class="form-control",placeholder = "Password")}}
        </fieldset>
        <fieldset id="fav-car">
            {{form.favorite_car.label}}
            {{form.favorite_car(class="form-control",placeholder = "Enter Favorite Car(optional)")}}
        </fieldset>

        {{form.submit(class="btn btn-primary btn-block")}}
    </div>
</form>