{% extends 'base.html' %}

{% block content %}

<div id="hero" class="container-fluid" style="background-image:url('../../static/images/Type-R.webp')">
    <div class="row">
        <h1>Car Collection</h1>
        <p>Email: {{current_user.email}}</p>
        <p>Token: {{current_user.token}}</p>
    </div>
</div>

<section class="cars">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="../../static/images/corvette.webp" alt="">
                <h3>
                    Corvette Z06
                </h3>
            </div>
            <div class="col-md-4">
                <img src="../../static/images/corvette.webp" alt="">
                <h3>
                    Corvette Z06
                </h3>
            </div>
            <div class="col-md-4">
                <img src="../../static/images/corvette.webp" alt="">
                <h3>
                    Corvette Z06
                </h3>
            </div>
            <div class="col-md-4">
                <img src="../../static/images/corvette.webp" alt="">
                <h3>
                    Corvette Z06
                </h3>
            </div>
            <div class="col-md-4">
                <img src="../../static/images/corvette.webp" alt="">
                <h3>
                    Corvette Z06
                </h3>
            </div>
            <div class="col-md-4">
                <img src="../../static/images/corvette.webp" alt="">
                <h3>
                    Corvette Z06
                </h3>
            </div>
            
        </div>
    </div>
</section>



{% endblock content %}